  .star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
    transform: rotate(35deg);
  }
  .star:before {
    content: "";
    position: absolute;
    top: -65px;
    left: -50px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid yellow;
    transform: rotate(-70deg);
  }
